.item
{
  position: relative;
  display: block;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .15s, background-color .15s, border-color .15s;
}
.item:first-child
{
  margin-top: -1px;
}
.item:hover
{
  background: #F4F4F4;
  transition: none;
}
.item_selected,
.item_selected:hover
{
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
  position: relative;
  z-index: 10;
}
.modified-marker
{
  float: right;
  width: 8px;
  height: 8px;
  margin-top: 4px;
  margin-left: 8px;
  border-radius: 50%;
  background: #428bca;
  transition: background-color .15s;
}
.modified-marker_selected
{
  background: white;
}
